@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: white;
  background-color: #242424;
}

.screening-and-seats {
  text-align: center;
}

.seats {
  text-align: center;
}

.seats>.row {
  display: inline-block;
}

.seats>.row>div {
  background-color: white;
  color: black;
  float: right;
  text-align: center;
  padding-top: 5px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  width: 50px;
  height: 50px;
  margin: 3px 1px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .seats>.row>div {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  .seats>.row>div {
    font-size: 12px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .seats>.row>div {
    font-size: 10px;
    width: 10px;
    height: 25px;
    margin: 0px;
  }
}

.seats>.row>div.selected {
  background-color: rgb(7, 173, 7);
}

.seats>.row>.occupied {
  background-color: rgb(190, 36, 36);
  cursor: not-allowed;
}

.disabled-button {
  cursor: not-allowed;
}

.poster-screen {
  width: 300px;
  object-fit: cover;
  aspect-ratio: 20/9;
  border: 5px solid #fff;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .poster-screen {
    width: 200px;
  }
}

.warning {
  color: red;
}